body, html{
    background-color: darkkhaki;
    font-family:'Radio Canada';
    font-size: 20px;
    margin: 0;
}
.navbar{
    border: 1px solid red;
    background-color: red;
}
.wrapper{
    display: flex;
    padding: 20px;
    margin: 10px;
}

.nav__link {
    /* display: inline-block;*/
    /*vertical-align: top;*/
    margin: 0 20px;
    color: white;
    text-decoration: none;
}

.nav__link:hover{
    border: 0.1em solid black;
    border-radius: 10px;
    background-color: black;
    transition: border .2s linear;
}
.nav__link img{
    width: 25px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
}
.menu li{
    width: 115px;
    list-style: none;
}

li .nav__link{
    border: 1px solid black;
    background-color: black;
    border-radius: 10px;
    width: 30px;
}

.menu a{
    text-decoration: none;
    display: block;
    padding: 0 10px;
transition: all .5s;
}
.menu a:hover{
    background: black;
}
.menu ul{
    left: 0;
    top: 100%;
    display: none;
    padding: 10px;
}
.menu__link{
    color: white;
}
.menu li:hover ul{
    display: block;
}

