@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&&display=swap');
body{
    font-family: 'Montserrat';
}
.container{
    width: 1275px;
    height: 2000px;
    background: #141414;
    position: relative;
}
.header{
  position: absolute;
    width: 1275px;
    height: 70px;
    top: 1px;
    background: #141414;
}
.header_menu{
    position: absolute;
    top: 9px;
    left: 20px;
}
.header_menu>ul{
    display: flex;
    list-style: none;
}
.header_menu>ul>li{
    font-size: 16px;
    margin-right: 60px;
}
.header_menu a{
    color: white;
    text-decoration: none;
}
.header_rightMenu{
    position: absolute;
    top: 26px;
    right: 66px;
}
.header_rightMenu a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.header_logo{
    position: absolute;
    top: 20px;
    right: 250px;
}

.menu{
    position: absolute;
    width: 1275px;
    height: 90px;
    top: 71px;
    background: #ECF1F2;
}
.menu_logo_img{
    position: absolute;
    top: 23px;
    left: 58px;
}

.menu_find{
    position: absolute;
    top: 97px;
    left: 300px;

}
.menu_find input{
    width: 200px;
    height: 30px;
    padding-left: 40px;
    border: 1px solid #040404 50%;
    background-color: #ECF1F2;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #040404;
}
.menu_find img{
    position: absolute;
    top: 13px;
    left: 18px;
}
.loc{
    position: relative;
    right: 55px;
}
.location{
    position: absolute;
    top:90px;
    left: 690px;
    display: flex;

}
.location, .location_2 p{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
}
.location_2{
    position: absolute;
    top:76px;
    left: 780px;
    display: flex;
}
.location_3{
    position: absolute;
    top:100px;
    left: 1000px;
    display: flex;
}
.location_3 img{
    margin-right: 20px;
}
.location_4{
    position: absolute;
    top: 80px;
    left: 1110px;
}
.location_4 p{
    font-size: 16px;
    font-weight: 500;
}
.location_5{
    position: absolute;
    top: 126px;
    left: 779px;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    color: #E8AA31;
}
.location_6 {
    position: absolute;
    top: 126px;
    left: 1110px;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    color: #E8AA31;
}


.nav_menu{
    position: absolute;
    top: 170px;
    left: 35px;
}
.nav{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
}
.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
    position: relative;
}
.nav_link:hover {
    color: #E8AA31;
}
.nav_link:after{
    content: "";
    /*display: none;*/
    opacity: 0;
    width: 100%;
    height: 3px;
    background: #E8AA31;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;

}
.nav_link:hover:after{
   /*display: block;*/
    opacity: 1;
}
/*.nav_menu ul{

    display: flex;
    list-style: none;
    color: #fff;
}
.nav_menu li{
    margin-right: 55px;
}
.nav_menu  a{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}




 /*.nav{
    position: absolute;
    width: 1275px;
    height: 70px;
    top: 160px;
    background: #141414;
}
.info{
    position: absolute;
    width: 1275px;
    height: 788px;
    top: 226px;
    background: #141414;
}
